<section class="container margin-top:10px">

<div class="pt-4 mt-2 mb-5">
   <div class="pt-2 pt-sm-3 pt-lg-4 px-3 px-sm-4 px-lg-5 pb-2 pb-lg-3 mb-4 bg-white b-gray-1 br-5px d-flex flex-column font-weight-light">
      <h4 class="my-2 my-lg-3 font-weight-light">
     <%= @post.title %> </h4>
      <hr class="my-2 my-lg-3 w-100">
      <div class="align-self-end font-size-sm">
         <span class="ml-2 ml-md-3 ml-lg-4"><a class="text-color-slate text-color-slate-hover" href="#"><%= @post.writer %></a></span>
         <span class="ml-2 ml-md-3 ml-lg-4"><%= @post.created_at %></span>
         <span class="ml-2 ml-md-3 ml-lg-4">조회수</span>
      </div>
      <div class="my-3">
         <p>
           <%= @post.content %>
         </p>
        
      </div>
      <div class="align-self-end font-weight-light font-size-sm">
         <a class="my-2 ml-2 ml-md-3 text-color-slate" href="/home/<%=@post.id%>/edit_board">수정하기</a>
         <a class="my-2 ml-2 ml-md-3 text-color-slate" href="/home/<%=@post.id%>/delete_board">삭제하기</a>
         <a class="my-2 ml-2 ml-md-3 text-color-slate" href="board">목록으로</a>
      </div>

         <hr class="my-2 my-lg-3 w-100">
      </div>
   </div>

</section>