<section>
<div class="view">
	<div alt class="bg"></div>
	<div class="content half-size colors-e background-60">
		<div class="container">
			<h2>Our <span class="highlight">Blog</span></h2>
			<p class="title">
				Skrollex <span class="highlight">Theme</span>
			</p>
		</div>
	</div>
</div>

<div class="view">
	<div class="content small-top-padding colors-e background-90-e">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="row post">
						<div class="col-md-3 post-meta">
							<div class="post-day">
								<%= @post.created_at.day %>
							</div>
							<div class="post-month">
								<%= "#{@post.created_at.strftime('%B')} #{@post.created_at.year}" %>							
							</div>
						</div>
						<div class="col-md-9">
							<div class="post-body background-75-e">
								<div class="post-image">
									<a class="page-transition" href="blog-single-1.html">
										<% if @post.pictures.size > 0 %>
										  <img class="fluid-width" src="<%= @post.pictures.first.url %>" alt="Post with Featured Image">
										<% end %>
									</a>
								</div>
								<h3><a class="page-transition" href="blog-single-1.html"> <%= @post.title %> </a></h3>
								<p>
								    <%= simple_format(@post.content) %>
								</p>
							</div>
							<div id="comments">
							<h6>댓글 수 : <%=@count%>개</h6>
							<ol class="comment-list">
								<% @comments.each_with_index do |comment,i| %>
								<li>
								<div class="comment">
									<div class="comment-box">
										<div class="comment-author">
											<a href="#"><%=comment.user_name%></a><%=comment.created_at %>
										</div>
										<div class="comment-text">
											<p>
												<%=comment.content%>
											</p>
										</div>
									</div>
								</div>
								</li>
								<%end%>
							</ol>
							<h4>Leave a Comment</h4>
							<form class="comment-form" action="/posts/<%=@post.id%>/comments" method="post" novalidate="novalidate">
								<div class="row">
									<div class="col-md-12 control-group">
										<input type="text" name="content" value="" size="40" placeholder="Message" data-validation-required-message="Please fill the required field." required>
										<div class="help-block">
										</div>
									</div>
									<!--<div class="col-md-12 control-group">-->
									<!--	<textarea name="replycontent" placeholder="Message" data-validation-required-message="Please fill the required field." required></textarea>-->
									<!--	<div class="help-block">-->
									<!--	</div>-->
									<!--</div>-->
									<div class="col-md-12 form-actions">
										<input class="button" type="submit" value="Post Comment">
									</div>
								</div>
							</form>
						</div>
						</div>
					</div>
					<div class="row">
						
					</div><!--row end-->
				</div>
				<div class="col-md-3 sidebar page-transition">
					<div class="title">
						Public Range
					</div>
					<ul>
						<li><%= @scope %></li>
					</ul>
					<div class="title">
						Uploaded File
					</div>
					<ul>
					    <% @post.download_files.each_with_index do |file,i| %>
                            <li><a href="<%= file.url %>"><%= "#{file.name}"%></a></li>
                        <% end %>
					</ul>
					<div class="title">
						Hash Tag
					</div>
					<ul class="tags-list">
						<% @post.hash_tags.each do |hash_tag| %>
							<li><a href="blog.html"><%= hash_tag.name %></a></li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</section>

<%= render 'shared/js' %>
